body {
    background-color: lightgray;
}

h1 {
    text-align: center;
    font-size: 65px;
}

div {
    padding: 5px;
}

h2:hover {
    font-size: 25px;
    cursor: pointer;
}

#graphs {
    position: fixed;
    right:18%;
}

#chart_div {
    margin: auto;
    width: 500px;
    float: left;
}

#table_div {
    margin: auto;
    width: 500px;
    float: left;
}

.sidenav {
    height: 100%;
    width: 110px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

#main {
    margin-right: 160px;
    padding: 0px 10px;
}