body {
    background-color: lightblue;
}

h1 {
    text-align: center;
}

div {
    padding: 10px;
}

#main {
    display:grid;
    grid-template-columns: 20% 80%;
    grid-gap: 50px;
}

h2:hover {
    font-size:25px;
    cursor: pointer;
}



#chart_div {
    margin: auto;
    width: 500px;
}

#table_div {
    margin: auto;
    width: 500px;
}