body {
    background-color: lightgray;
}

h1 {
    text-align: center;
}

div {
    padding: 10px;
}

#main {
    margin-right: 160px;
    padding: 0px 10px;
}

h2:hover {
    font-size:25px;
    cursor: pointer;
}

button {
    float: right;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: black;
    text-align: center;
    transition: all 0.2s;
}

button:hover {
    color: #000000;
    background-color: #FFFFFF;
}

span {
    margin: auto;
    display: table;
    padding: 10px;
    font-size: 70px;
}

.sidenav {
    height: 100%;
    width: 110px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}
