body {
    background-color: lightblue;
}

h1 {
    text-align: center;
}

div {
    padding: 10px;
}

#main {
    display:grid;
    grid-template-columns: 20% 80%;
    grid-gap: 50px;
}

h2:hover {
    font-size:25px;
    cursor: pointer;
}

#images {
    margin: auto;
}

img {
    margin: 5px;
    border: 1px solid #ccc;
    width: 300px;
    transition: 0.5s all;
}

img:hover {
    border: 1px solid #777;
    width: 320px;
    height: 320px;
}
